#index-rowscolumns {
  padding-top: 120px;
  padding-left: 60px;
}

@media (max-width: 768px) {
  #index-rowscolumns {
    padding-top: 120px;
    padding-left: 25px;
  }
}

#projects-cards {
  margin-top: 1px;
}

#projects {
  padding-top: 0px;
  padding-bottom: 0px;
  background: #f0f5ff;
  border-radius: 30px;
  border-style: solid;
  border-color: rgb(255,255,255);
  margin-right: 15px;
  margin-left: 15px;
  margin-top: 45px;
  margin-bottom: 45px;
}

@media (max-width: 576px) {
  #projects {
    padding-top: 0px;
    padding-bottom: 0px;
    background: #f0f5ff;
    border-radius: 30px;
    border-style: solid;
    border-color: rgb(255,255,255);
    margin-right: 15px;
    margin-left: 15px;
    margin-top: 300px;
    margin-bottom: 45px;
  }
}

#letscreatecontact {
  background: linear-gradient(58deg, rgb(255,77,0), rgb(131,47,160) 56%, rgb(41,15,201));
  color: rgb(239,239,239);
  border-radius: 25px;
  margin-right: 45px;
  margin-left: 45px;
}

@media (max-width: 576px) {
  #letscreatecontact {
    background: linear-gradient(58deg, rgb(255,77,0), rgb(131,47,160) 56%, rgb(41,15,201));
    color: rgb(239,239,239);
    border-radius: 25px;
    margin-right: 25px;
    margin-left: 25px;
  }
}

